.header { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100px;
    width: 76%;
    max-width: 1280px;
    margin: 0 12%;
}

.nav {
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 0;
    margin-left: auto; /* Empurra a lista para a direita */
    gap: 28px;
    padding-right: 2em;
}

.nav__list {
    display: flex;
    justify-content: flex-end; /* Alinha os itens à direita */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 0;
    margin-left: auto; /* Empurra a lista para a direita */
    gap: 28px;
}
.nav__list a {
    margin: 0;
    padding: 0;
    color: black;
}