.home {
  display: flex;
  flex-direction: column;
}

/* Introdução */
.home-margin {
  margin: 0 12%;
  max-width: 100%;
}

.home-container {
  background-color: white;
  padding: 0px;
  margin: 0;
  margin-top: 180px;
  text-align: left;
  width: 60%;
  position: relative;
}
.home-container h1 {
  margin-top: 0;
}

.red-button {
  background-color: rgb(255, 77, 77);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Projetos */

.home-projetos {
  margin: 0 12%;
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-top: 10px;
  height: 450px;
  position: relative;
  text-align: left;
}

.projetos-titulo h1 {
  text-align: left;
  font-size: 25px;
  font-weight: 400;
}

.con-section {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 10px;
  height: 300px;
  width: 100%;
}

.div-img {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div-img img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.img {
    display: block;
    width: 100%;
    height: 100%;
}

.div-sobre {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
}
.div-sobre h2 {
  font-size: 34px;
}

.home.light {
  background-color: var(--color-light-background);
}
.home.light a, img, p, h1, h2 {
  color: var(--color-light-text);
  z-index: 1000;
}

.home.dark {
  background-color: var(--color-dark-background);
}
.home.dark a, img, p, h1, h2 {
  color: var(--color-dark-text);
  z-index: 1000;
}
.home.dark a:hover {
  color: var(--color-dark-hover);
}

.home-container.light {
  background-color: var(--color-light-background);
}
.home-container.light a {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-container.light img {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-container.light p {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-container.light h1 {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-container.light h2 {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-container.dark {
  background-color: var(--color-dark-background);
}
.home-container.dark a, img, p, h1, h2 {
  color: var(--color-dark-text);
  z-index: 1000;
}
.home-container.dark a:hover {
  color: var(--color-dark-hover);
}


.home-projetos.light {
  background-color: var(--color-light-background);
}
.home-projetos.light a {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-projetos.light img {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-projetos.light p {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-projetos.light h1 {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-projetos.light h2 {
  color: var(--color-light-text);
  z-index: 1000;
}

.home-projetos.dark {
  background-color: var(--color-dark-background);
}
.home-projetos.dark a, img, p, h1, h2 {
  color: var(--color-dark-text);
  z-index: 1000;
}
.home-projetos.dark a:hover {
  color: var(--color-dark-hover);
}

.con-section.light {
  background-color: var(--color-light-background);
}
.con-section.light a {
  color: var(--color-light-text);
  z-index: 1000;
}

.con-section.light img {
  color: var(--color-light-text);
  z-index: 1000;
}

.con-section.light p {
  color: var(--color-light-text);
  z-index: 1000;
}

.con-section.light h1 {
  color: var(--color-light-text);
  z-index: 1000;
}

.con-section.light h2 {
  color: var(--color-light-text);
  z-index: 1000;
}

.con-section.dark {
  background-color: var(--color-dark-background);
}
.con-section.dark a, img, p, h1, h2 {
  color: var(--color-dark-text);
  z-index: 1000;
}
.con-section.dark a:hover {
  color: var(--color-dark-hover);
}
.red-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.red-button:hover {
    background-color: darkred;
}

.con-section {
  position: relative;
}