#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 2rem 0rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
:root {
    --color-light-background: #ffffff;
    --color-light-text: #000000;
    --color-dark-background: #111111;
    --color-dark-text: #e0e0e0;
    --color-dark-hover: #ffffff;
    --color-button-background: red;
    --color-button-text: white;
    --color-button-hover: rgb(192, 0, 0);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@import './variables.css';

body.light {
    --background-color: var(--color-light-background);
    --text-color: var(--color-light-text);
    --button-background: var(--color-button-background);
    --button-text: var(--color-button-text);
    --button-hover: var(--color-button-hover);
}

body.dark {
    --background-color: var(--color-dark-background);
    --text-color: var(--color-dark-text);
    --button-background: var(--color-button-background);
    --button-text: var(--color-button-text);
    --button-hover: var(--color-button-hover);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

button {
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover);
}