.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    max-width: 100%;
    position: relative;
    margin: 0;
    background-color: rgba(0, 123, 255, 1);
    border-radius: 4px;
    padding: 20px;
}

.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin: 0 12%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 120px;
    margin: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
}