.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    max-width: 100%;
    height: 450px;
    position: relative;
    margin: 0;
    margin-top: 60px;
    background-color: rgba(237, 247, 250, 1);
    border-radius: 4px;
    padding: 0px 0px;
}

.box-container {
    width: 76%;
    gap: 10px;
    margin: 0 12%;
    height: 100%;
}
.box-container h2 {
    color: black;
    text-align: left;
    font-weight: 400;
    font-size: 26px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 0px 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
    height: 100%;
}
.box h1 {
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 34px;
    margin: 10px 25px 0 25px;
    text-align: left;
    align-content: center;
    height: 30%;
}
.box p {
    margin: 0 25px;
    align-content: center;
    height: 40%;
    text-align: left;
}
.box-info {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    align-content: center;
    width: 100%;
    height: 30%;
    gap: 2em;

}
.box-info h2 {
    font-size: 22px;
    align-content: center;
    height: 20px;
    margin: 30px 0 0 25px;
}

.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15%;
    padding-top: 25px;
    border-radius: 4px;
    border-color: transparent;
    height: 70%;
}

.container.light {
    background-color: rgba(237, 247, 250, 1);
    color: var(--color-light-text);
}
.container.light p {
    color: var(--color-light-text);
}

.container.dark {
    background-color: var(--color-dark-background);
    color: var(--color-dark-text);
}
.container.dark p {
    color: var(--color-dark-text);
}

.box-container.light {
    color: var(--color-light-text);
}
.box-container.light p {
    color: var(--color-light-text);
}

.box-container.dark {
    color: var(--color-dark-text);
}
.box-container.dark h2 {
    color: var(--color-dark-text);
}

.box.light {
    background-color: var(--color-light-background);
    color: var(--color-light-text);
}
.box.light p {
    color: var(--color-light-text);
}

.box.dark {
    background-color: var(--color-dark-background);
    color: var(--color-dark-text);
}
.box.dark p{
    color: var(--color-dark-text);
}
.box.dark h1 {
    color: var(--color-dark-text);
}
.box.dark h2 {
    color: var(--color-dark-text);
}