* {
    color: rgba(33, 36, 61, 1);
    font-weight: 500;
}

.footer {
    color: black;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
}

.footer_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: nowrap;
    gap: 1em;
}

body, #root, .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home-margin, .home-container, .no-margin, .home-projetos {
    flex: 1;
}

.footer_nav_links a {
    padding: 0px 8px;
    color: black;
}
.footer_nav_links :hover {
    color: rgb(102, 102, 102);
    text-decoration: underline;
}

.container.light {
    background-color: #ffffff;
    color: #000000;
}

.container.dark {
    background-color: #333333;
    color: #ffffff;
}